.gradle
/local.properties
/.idea/workspace.xml
/build
.DS_Store
/.idea/libraries*
.idea/libraries/play_services_4_4_52.xml
.idea/libraries/appcompat_v7_19_1_0.xml
.idea/libraries/appcompat_v7_19_1_0.xml
.idea/libraries/appcompat_v7_19_1_0.xml
.idea/libraries/appcompat_v7_19_1_0.xml
.idea/libraries/mp3agic_0_8_3_SNAPSHOT.xml
.idea/libraries/play_services_4_4_52.xml
app/app.iml
DailyPlay.iml